/* Changes background and text colours */
body {
  background-color: #95a5a6;
  color: #2c3e50;
}

/* Padding around divs to contast background */
.backgroundPadding {
  background-color: #ecf0f1;
  padding:20px;
}
.backgroundPadding1 {
    background-color: #ecf0f1;
    padding:20px;
  }

/* Heading text at top of page */
.headingText {
  color: #ecf0f1;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}

/* CSS Transition used for the div expanding when one way flight is selected */
.onewayFlight {
  flex-grow: 1;
  transition: all 1000ms ease;
}

/* Border of table on flight search html page */
.tableBooking {
  border: 3px solid #2c3e50;
}

.test {
  background-color: black;
}

.smallText {
  font-size: 0.8em;
}
